openapi: 3.0.3
info:
  title: Paperspace Container Registries Activity Private Networks API
  version: v1
  description: 'Manage container registry credentials used by Paperspace Deployments to

    pull private images. Authenticate with a team-scoped API key as

    `Authorization: Bearer $API_TOKEN`.

    '
servers:
- url: https://api.paperspace.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Private Networks
paths:
  /private-networks:
    get:
      tags:
      - Private Networks
      operationId: listPrivateNetworks
      summary: List Private Networks
      description: Fetches a list of private networks.
      parameters:
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Private network list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateNetwork'
    post:
      tags:
      - Private Networks
      operationId: createPrivateNetwork
      summary: Create Private Network
      description: Creates a new private network in a region.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateNetworkCreate'
      responses:
        '201':
          description: Network created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
  /private-networks/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Private Networks
      operationId: getPrivateNetwork
      summary: Get Private Network
      description: Fetches a single private network by ID.
      responses:
        '200':
          description: Private network.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
    put:
      tags:
      - Private Networks
      operationId: updatePrivateNetwork
      summary: Update Private Network
      description: Updates a private network by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Updated network.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
    delete:
      tags:
      - Private Networks
      operationId: deletePrivateNetwork
      summary: Delete Private Network
      description: Deletes a private network by ID.
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    PrivateNetwork:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        region:
          type: string
        cidr:
          type: string
        teamId:
          type: string
        dtCreated:
          type: string
          format: date-time
    PrivateNetworkCreate:
      type: object
      required:
      - name
      - region
      properties:
        name:
          type: string
        region:
          type: string
        cidr:
          type: string
  parameters:
    Limit:
      in: query
      name: limit
      schema:
        type: integer
    After:
      in: query
      name: after
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: api-key
