openapi: 3.2.0
info:
  title: Paperspace Team Authentication API
  version: v1
  description: 'Team-scoped membership, secrets, and session/authentication endpoints for

    Paperspace. Authenticate with a team-scoped API key as `Authorization:

    Bearer $API_TOKEN`.'
servers:
- url: https://api.paperspace.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Authentication
paths:
  /auth/session:
    get:
      tags:
      - Authentication
      operationId: getSession
      summary: Get Session
      description: Gets the current session. Returns null when no user is logged in.
      responses:
        '200':
          description: Current session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
components:
  schemas:
    Session:
      type:
      - object
      - 'null'
      properties:
        user:
          $ref: '#/components/schemas/User'
        team:
          $ref: '#/components/schemas/Team'
    Team:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        namespace:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        defaultProduct:
          type: string
        theme:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: api-key
