openapi: 3.2.0
info:
  title: Paperspace Container Registries Activity Datasets API
  version: v1
  description: 'Manage container registry credentials used by Paperspace Deployments to

    pull private images. Authenticate with a team-scoped API key as

    `Authorization: Bearer $API_TOKEN`.'
servers:
- url: https://api.paperspace.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Datasets
paths:
  /datasets:
    get:
      tags:
      - Datasets
      operationId: listDatasets
      summary: List Datasets
      description: Lists datasets available to the team.
      parameters:
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Dataset list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'
    post:
      tags:
      - Datasets
      operationId: createDataset
      summary: Create Dataset
      description: Creates a new dataset.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetCreate'
      responses:
        '201':
          description: Dataset created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
  /datasets/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Datasets
      operationId: getDataset
      summary: Get Dataset
      description: Gets a dataset by ID.
      responses:
        '200':
          description: Dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    put:
      tags:
      - Datasets
      operationId: updateDataset
      summary: Update Dataset
      description: Updates a dataset's metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Updated dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    delete:
      tags:
      - Datasets
      operationId: deleteDataset
      summary: Delete Dataset
      description: Deletes a dataset and its versions.
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    DatasetCreate:
      type: object
      required:
      - name
      - storageProviderId
      properties:
        name:
          type: string
        description:
          type: string
        storageProviderId:
          type: string
    Dataset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        teamId:
          type: string
        storageProviderId:
          type: string
        dtCreated:
          type: string
          format: date-time
  parameters:
    Limit:
      in: query
      name: limit
      schema:
        type: integer
    After:
      in: query
      name: after
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: api-key
