openapi: 3.0.3
info:
  title: Paperspace Container Registries Activity Secrets API
  version: v1
  description: 'Manage container registry credentials used by Paperspace Deployments to

    pull private images. Authenticate with a team-scoped API key as

    `Authorization: Bearer $API_TOKEN`.

    '
servers:
- url: https://api.paperspace.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Secrets
paths:
  /projects/{id}/secrets:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
      - Secrets
      operationId: listProjectSecrets
      summary: List Project Secrets
      description: Fetches a list of secrets for a project.
      responses:
        '200':
          description: Secret list (names only).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Secret'
    post:
      tags:
      - Secrets
      operationId: createProjectSecret
      summary: Create Project Secret
      description: Creates a new secret for a project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreate'
      responses:
        '201':
          description: Secret created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
  /projects/{id}/secrets/{name}:
    parameters:
    - $ref: '#/components/parameters/ProjectId'
    - in: path
      name: name
      required: true
      schema:
        type: string
    get:
      tags:
      - Secrets
      operationId: getProjectSecret
      summary: Get Project Secret
      description: Fetches a secret for a project (does not return the value).
      responses:
        '200':
          description: Secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
    patch:
      tags:
      - Secrets
      operationId: updateProjectSecret
      summary: Update Project Secret
      description: Updates the value of a secret for a project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - value
              properties:
                value:
                  type: string
      responses:
        '200':
          description: Updated secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
    delete:
      tags:
      - Secrets
      operationId: deleteProjectSecret
      summary: Delete Project Secret
      description: Deletes a secret from a project.
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    SecretCreate:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
        value:
          type: string
    Secret:
      type: object
      properties:
        name:
          type: string
        dtCreated:
          type: string
          format: date-time
        dtModified:
          type: string
          format: date-time
  parameters:
    ProjectId:
      in: path
      name: id
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: api-key
