openapi: 3.0.3
info:
  title: Paperspace Container Registries Activity Team Secrets API
  version: v1
  description: 'Manage container registry credentials used by Paperspace Deployments to

    pull private images. Authenticate with a team-scoped API key as

    `Authorization: Bearer $API_TOKEN`.

    '
servers:
- url: https://api.paperspace.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Team Secrets
paths:
  /teams/{id}/secrets:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Team Secrets
      operationId: listTeamSecrets
      summary: List Team Secrets
      description: Retrieves all secrets associated with a team.
      responses:
        '200':
          description: Secret list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Secret'
    post:
      tags:
      - Team Secrets
      operationId: createTeamSecret
      summary: Create Team Secret
      description: Establishes a new secret for team use.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreate'
      responses:
        '201':
          description: Secret created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
  /teams/{id}/secrets/{name}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    - in: path
      name: name
      required: true
      schema:
        type: string
    get:
      tags:
      - Team Secrets
      operationId: getTeamSecret
      summary: Get Team Secret
      description: Obtains a specific secret by its identifier.
      responses:
        '200':
          description: Secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
    patch:
      tags:
      - Team Secrets
      operationId: updateTeamSecret
      summary: Update Team Secret
      description: Revises an existing secret's value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - value
              properties:
                value:
                  type: string
      responses:
        '200':
          description: Updated secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
    delete:
      tags:
      - Team Secrets
      operationId: deleteTeamSecret
      summary: Delete Team Secret
      description: Removes a secret from team storage.
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    SecretCreate:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
        value:
          type: string
    Secret:
      type: object
      properties:
        name:
          type: string
        dtCreated:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: api-key
