openapi: 3.0.3
info:
  title: Paperspace Container Registries Activity Shared Drives API
  version: v1
  description: 'Manage container registry credentials used by Paperspace Deployments to

    pull private images. Authenticate with a team-scoped API key as

    `Authorization: Bearer $API_TOKEN`.

    '
servers:
- url: https://api.paperspace.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Shared Drives
paths:
  /shared-drives:
    get:
      tags:
      - Shared Drives
      operationId: listSharedDrives
      summary: List Shared Drives
      description: Fetches a list of shared drives.
      responses:
        '200':
          description: Shared drive list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedDrive'
    post:
      tags:
      - Shared Drives
      operationId: createSharedDrive
      summary: Create Shared Drive
      description: Creates a new shared drive for use in a private network.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedDriveCreate'
      responses:
        '201':
          description: Drive created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedDrive'
  /shared-drives/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Shared Drives
      operationId: getSharedDrive
      summary: Get Shared Drive
      description: Fetches a single shared drive by ID.
      responses:
        '200':
          description: Shared drive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedDrive'
    put:
      tags:
      - Shared Drives
      operationId: updateSharedDrive
      summary: Update Shared Drive
      description: Updates a single shared drive by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                size:
                  type: integer
      responses:
        '200':
          description: Updated drive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedDrive'
    delete:
      tags:
      - Shared Drives
      operationId: deleteSharedDrive
      summary: Delete Shared Drive
      description: Deletes a single shared drive by ID.
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    SharedDrive:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        size:
          type: integer
        region:
          type: string
        privateNetworkId:
          type: string
        dtCreated:
          type: string
          format: date-time
    SharedDriveCreate:
      type: object
      required:
      - name
      - size
      - region
      - privateNetworkId
      properties:
        name:
          type: string
        size:
          type: integer
        region:
          type: string
        privateNetworkId:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: api-key
