openapi: 3.0.3
info:
  title: Paperspace Container Registries Activity Custom Templates API
  version: v1
  description: 'Manage container registry credentials used by Paperspace Deployments to

    pull private images. Authenticate with a team-scoped API key as

    `Authorization: Bearer $API_TOKEN`.

    '
servers:
- url: https://api.paperspace.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Custom Templates
paths:
  /custom-templates:
    get:
      tags:
      - Custom Templates
      operationId: listCustomTemplates
      summary: List Custom Templates
      description: Fetches a list of custom machine templates.
      responses:
        '200':
          description: Template list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomTemplate'
    post:
      tags:
      - Custom Templates
      operationId: createCustomTemplate
      summary: Create Custom Template
      description: Creates a custom template from a machine.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - machineId
              - name
              properties:
                machineId:
                  type: string
                name:
                  type: string
                note:
                  type: string
      responses:
        '201':
          description: Custom template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTemplate'
  /custom-templates/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Custom Templates
      operationId: getCustomTemplate
      summary: Get Custom Template
      description: Fetches a single template by ID.
      responses:
        '200':
          description: Custom template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTemplate'
    put:
      tags:
      - Custom Templates
      operationId: updateCustomTemplate
      summary: Update Custom Template
      description: Updates a single template by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                note:
                  type: string
      responses:
        '200':
          description: Updated template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomTemplate'
    delete:
      tags:
      - Custom Templates
      operationId: deleteCustomTemplate
      summary: Delete Custom Template
      description: Deletes a custom template.
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    CustomTemplate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        note:
          type: string
        machineId:
          type: string
        teamId:
          type: string
        dtCreated:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: api-key
